$background-color: #fff;
$primary-color: #1f2278;
$orange-color: #f17732;
$secondary-color: #2f2f2f;
$gray-color: #dbdbdb;
$black-color: #1c1c1c;
$button-color: #3d3fc9;
$card-text-color: #5d5c60;
$blue-color: #1f2278;
